@import "../../theme/mixins";

.product__container {
  max-width: 90%;
  background-color: var(--background-part);
  border-radius: 20px;
  overflow: hidden;
  margin-left: 10%;
  margin-bottom: 2%;
  @include grid(repeat(4, 1fr), none);
  @include border(var(--product-color), solid, 1px);
}

@media (max-width: 1200px) {
  .product__container {
    max-width: 90%;
    margin: auto;
    display: grid;
    @include grid(repeat(1, 1fr), none);
  }
}
