.accordion-tree {
  overflow: hidden;
  margin: 10px 0 10px 0;
  width:100%;
  padding-left: 20px;
  hr{
    /* Set the color of the line */
    color: #ccc;

    /* Set the style of the line (solid, dashed, dotted, etc.) */
    border-style: solid;

    /* Set the width of the line */
    border-width: 1px;

    /* Set the margin around the <hr> tag */
    margin: 20px 0;

    /* Specify whether the line should be transparent */
    opacity: 0.5;


  }
}

@media (max-width: 1200px) {
  .accordion-tree {
    overflow: hidden;
    margin: 0px 10px 10px 0;
    width:100%;
    padding-left: 20px;}
}
